@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: "Roboto", serif;
  --font-hero-italic: "Libre Baskerville", serif;
}

@layer base {
  .active {
    color: #b17457;
  }

  html {
    scroll-behavior: smooth;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 20rem;
    /* margin-top: 5rem; */
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  @keyframes scrollLeft {
    to {
      left: -200px;
    }
  }

  .item {
    width: 14rem;
    border-radius: 6px;
    position: absolute;
    left: max(calc(14rem * 6), 100%);
    animation-name: scrollLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .wrapper:hover .item {
    animation-play-state: paused;
    /* filter: grayscale(1); */
    /* transition: filter 0.5s; */
  }

  /* .wrapper .item:hover {
    filter: grayscale(0);
  } */

  .item1 {
    animation-delay: calc(20s / 6 * (6 - 1) * -1);
  }

  .item2 {
    animation-delay: calc(20s / 6 * (6 - 2) * -1);
  }

  .item3 {
    animation-delay: calc(20s / 6 * (6 - 3) * -1);
  }

  .item4 {
    animation-delay: calc(20s / 6 * (6 - 4) * -1);
  }

  /* .item5 {
    animation-delay: calc(20s / 6 * (6 - 5) * -1);
  }

  .item6 {
    animation-delay: calc(20s / 6 * (6 - 6) * -1);
  } */

  .item5 {
    animation-delay: calc(20s / 6 * (6 - 5) * -1);
  }

  .item6 {
    animation-delay: calc(20s / 6 * (6 - 6) * -1);
  }

  .autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view();
  }

  @keyframes autoShowAnimation {
    0% {
      opacity: 0;
      transform: translateY(200px) scale(0.3);
    }
    20% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .autoHide {
    animation: autoHideAnimation both;
    animation-timeline: view();
  }

  @keyframes autoHideAnimation {
    50% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(200px) scale(0.5);
    }
  }
}
